#container{
    background: blue;
    width: 512px;
    height: 512px;
    margin: 0 auto;
    
}

.grid{
    border:1px solid white;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    float: left;
    
}